# MinIO credentials
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# Spark master URL
SPARK_MASTER_URL=spark://spark-master:7077

# MinIO S3 endpoint
MINIO_ENDPOINT=http://minio:9000

# S3A credentials (used by Spark)
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_DEFAULT_REGION=us-east-1
