##########################
# Python
##########################
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

##########################
# Virtual environments
##########################
venv/
env/
.venv/

##########################
# Environment files
##########################
.env

##########################
# IDE / OS
##########################
.vscode/
.idea/
.DS_Store
Thumbs.db

##########################
# Spark / Delta runtime
##########################
spark-warehouse/
metastore_db/

##########################
# Data generated locally
##########################
data/warehouse/
data/raw/

##########################
# Docker
##########################
*.tar
